<div class="experience-section">
  <p><strong>Associate - Projects</strong> <span class="year-span">Oct 2019–Present</span></p>
  <p>Cognizant Technology Solutions</p>
  <p>Digital Engineering Team - 1 Changi Business Park Crescent, Singapore</p>
  <ul>
    <li>Build micro-services for customers to consume T24 and GraphQL services for corporate-action project on
      spring-boot.
    </li>
    <li>Build DSL engine for banking clients to migrate DB2 data which reduced 30% load on the existing server.</li>
    <li>Dockerized payment application and automated GitLab CI/CD pipeline to migrate on open-shift using Helm.</li>
  </ul>
</div>
