<div fxLayout="row" fxLayoutAlign="start center" class="search-bar">
  <input class="search-input" [value]="'Robiul Hassan - Software Engineer'"/>
  <mat-icon class="icon">close</mat-icon>
  <mat-divider [vertical]="true" [ngStyle]="{ height: '65%'}"></mat-divider>
  <mat-icon class="icon">mic</mat-icon>
  <mat-icon class="icon search-icon">search</mat-icon>
</div>

<div fxLayout="row" fxLayoutAlign="start center" class="tab">

  <div class="tab-group">
    <a routerLink="/resume">
      <img src="assets/home.png" alt="github"/>
      About Robiul's
    </a>
  </div>

  <div class="tab-group">
    <a href="mailto:robiul.hassan12102@gmail.com" matTooltip="robiul.hassan12102@gmail.com" target="_blank">
      <img src="assets/gmail.png" alt="robiul.hassan12102@gmail.com"/>
      robiul.hassan12102@gmail.com
    </a>
  </div>

  <div class="tab-group">
    <a href="https://mrh-jishan.github.io/mrh-jishan/" matTooltip="mrh-jishan.github.io/mrh-jishan" target="_blank">
      <img src="assets/github.png" alt="github"/>
      mrh-jishan.github.io/mrh-jishan
    </a>
  </div>


  <div class="tab-group">
    <a href="https://www.linkedin.com/in/rhsn1/" matTooltip="linkedin.com/in/rhsn1/" target="_blank">
      <img src="assets/linkedin.png" alt="LinkedIn"/>
      rhsn1
    </a>
  </div>


  <div class="tab-group">
    <a href="https://www.github.com/mrh-jishan/" matTooltip="github.com/mrh-jishan" target="_blank">
      <img src="assets/github.png" alt="github"/>
      mrh-jishan
    </a>
  </div>

</div>

<div class="search-result">
  <p class="search-result-stats">About 125,000,000 results (0.82 seconds)</p>
</div>

<div fxLayout="row" fxLayoutAlign="space-between start" class="main-content">
  <div fxFlex="70" class="child">
    <app-section title="People also ask" icon="home">
      <div class="education">
        <p class="question">What is Robiul's Education?</p>
        <p>
          B.Sc. Computer Science, Asia Pacific University of Technology and Innovation, Malaysia
          <span class="year-span">(May, 2015 – Nov, 2018)</span>
        </p>
      </div>

      <div class="skills">
        <p class="question">What are Robiul's skills?</p>
        <div class="skills-list">
          <p><strong>Front-End</strong> - JavaScript, Angular, ReactJS, Redux, Redux-Saga, SCSS, jQuery, Bootstrap,
            HTML5,
            ES6</p>
          <p><strong>Back-End</strong> - Java, Ruby, Spring-Boot, Ruby on Rails, NodeJS, ExpressJS</p>
          <p><strong>Database</strong> - MySQL, Postgres, Redis, MongoDB, CouchDB</p>
          <p><strong>Tools</strong> - Git, Nginx, AWS, ActiveMQ, Kafka, Jenkins, Docker, K8S</p>
        </div>
      </div>

    </app-section>

    <app-section title="Work Experience" icon="work_outline">
      <div class="experience">
        <p class="question">Robiul's career (So Far)</p>
        <p>One day, Robiul would like to develop a Software that will improve a life of millions, but here is what he
          has done so far... </p>
      </div>
      <div class="experience-list">
        <app-experience></app-experience>
        <app-experience></app-experience>
        <app-experience></app-experience>
      </div>
    </app-section>

    <app-section title="Projects" icon="code">
      <ul>
        <li><strong>Corporate Action (SRD II) </strong> - Integration with T24 and TCS Bancs for corporate action
          processing using spring-boot.
        </li>
        <li><strong>DSL Engine (ETL)</strong> - Java based DSL engine to parse text into SQL and JavaScript to process
          warehouse data.
        </li>
        <li><strong>myWAQF Chain </strong> - Crowdfunding dApp deployed on Hyperledger and Finterra internal consensus
          engine.
        </li>
        <li><strong>Crypto-Exchange</strong> - Rails implementation of Ethereum and ERC20 token transfer from client to
          client.
        </li>
      </ul>
    </app-section>

    <app-section title="Certification & Achievements" icon="book">
      <ul>
        <li>Quarterly Star Award (Q3/2020) – Credit Suisse</li>
        <li>Ultimate AWS Certified Developer Associate 2020 – Udemy</li>
        <li>Certified Kubernetes Application Developer 2020 -Udemy</li>
        <li>Winner of “Battle of Hacker - Hackathon” organized by APU forensic and cybersecurity</li>
        <li>Organizer of APU Math & Science week – 2015 (Organizing Committee member)</li>
      </ul>
    </app-section>
  </div>
  <div fxFlex="30" class="child">
    <mat-card >
      <img mat-card-image src="assets/human.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div class="">
          <h4 class="title">Md Robiul Hassan</h4>
          <p class="sub-title">Software Engineer</p>
        </div>
        <div>
          <p>Robiul Hassan was a Bangladesh-born Software-Engineer, claimed himself to be one of the Software-Engineer
            with a bachelor degree in Computer-Science. Robiul has experience in end-to-end Software Solution delivery
            as
            well as migrating monolithic application to microservices on popular cloud like AWS and Open-Shift using
            Kubernetes and Helm.</p>
          <ul>
            <li><strong>Born</strong>: 8 Sept 1995</li>
            <li><strong>Location</strong>: <a
              href="https://geohack.toolforge.org/geohack.php?pagename=Tampines&params=1_20_58.53_N_103_57_24.44_E_type:city(259900)_region:SG-02"
              target="_blank">Tampines, SG</a></li>
            <li><strong>Language</strong>: Ruby, Java</li>
            <li><strong>Food</strong>: Chicken Wings</li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

